{% extends "base.html" %}

{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="fw-normal">My OpenGWAS API Account</h2>
    <p class="fs-5 text-muted">...</p>
</div>
{% endblock %}

{% block main %}
<div class="clearfix">
    <div class="float-start"><h4>User</h4></div>
    <div class="float-end"><a href="{{ url_for('profile.auth.signout') }}" class="text-danger" data-toggle="tooltip" title="Sign out from this website. Please note your API token (if any) will still be valid.">Sign out</a></div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <label for="firstname" class="col-form-label">Firstname</label>
            </div>
            <div class="col">
                <input type="text" readonly class="form-control-plaintext" id="firstname" value="{{ user['first_name'] }}">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <label for="lastname" class="col-form-label">Lastname</label>
            </div>
            <div class="col">
                <input type="text" readonly class="form-control-plaintext" id="lastname" value="{{ user['last_name'] }}">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <label for="email" class="col-form-label">Email</label>
            </div>
            <div class="col">
                <input type="text" readonly class="form-control-plaintext" id="email" value="{{ user['uid'] }}">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <label for="tier" class="col-form-label">Tier</label>
            </div>
            <div class="col">
                <input type="text" readonly class="form-control-plaintext" id="tier" value="{{ globals_tiers[user['tier']] }}">
            </div>
        </div>
    </div>
</div>
{% if org %}
    <hr>
    <h4>Organisation <small><i class="bi bi-info-circle" data-toggle="tooltip" title="{{ org_tooltip }}"></i></small></h4>
        <div class="row">
            <div class="col-auto">
                <label for="org_name" class="col-form-label">Name</label>
            </div>
            <div class="col">
                <input type="text" readonly class="form-control-plaintext" id="org_name" value="{{ org['ms_name'] or org['gh_name'] }}">
            </div>
        </div>
    {% if membership %}
        <div class="row">
            <div class="col-auto">
                <label for="membership" class="col-form-label">Membership</label>
            </div>
            <div class="col">
                <span type="text" readonly class="form-control-plaintext" id="membership">{{ "<br>".join(membership.values()) | safe }}</span>
            </div>
        </div>
    {% endif %}
{% endif %}
<hr>
<h4>Token <small><a href="{{ root_url + '/#authentication' }}" target="_blank" style="color: inherit"><i class="bi bi-info-circle"></i></a></small></h4>
<div id="noTokenDiv" class="row" style="display: none">
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-sm btn-outline-success" onclick="generate_token()">Generate a token</button>
    </div>
</div>
<div id="currentTokenDiv" style="display: none">
    <div class="row">
        <div class="col-auto">
            <label for="tokenExpiryInput" class="col-form-label">Expiry</label>
        </div>
        <div class="col">
            <input type="text" readonly class="form-control-plaintext" id="tokenExpiryInput" value="">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col-auto">
                    <label for="tokenValueTextarea" class="col-form-label">Value</label>
                </div>
                <div class="col">
                    <textarea readonly class="form-control" style="font-family: Consolas, monaco, monospace; font-size: 12px; resize: none" id="tokenValueTextarea" rows="1" value="" disabled></textarea>
                    <p class="text-primary" id="tokenGenerationResultP"></p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-outline-danger float-end" onclick="generate_token()">Reset</button>
        </div>
    </div>
</div>
<hr>
<h4>Allowance <small><a href="{{ root_url + '/#allowance' }}" target="_blank" style="color: inherit"><i class="bi bi-info-circle"></i></a></small></h4>
<div class="row">
    <div class="col-auto">
        <label for="allowanceLimitInput" class="col-form-label">Allowance</label>
    </div>
    <div class="col">
        <input type="text" readonly class="form-control-plaintext" id="allowanceLimitInput" value="{{ tiered_allowance }}">
    </div>
</div>
<div class="row">
    <div class="col-auto">
        <label for="allowanceRemainingInput" class="col-form-label">Remaining</label>
    </div>
    <div class="col">
        <input type="text" readonly class="form-control-plaintext" id="allowanceRemainingInput" value="">
    </div>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" integrity="sha512-D1liES3uvDpPrgk7vXR/hR/sukGn7EtDWEyvpdLsyalQYq6v6YUsTUJmku7B4rcuQ21rf0UTksw2i/2Pdjbd3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block scripts %}
<script>
    var noTokenDiv, tokenValueTextarea, tokenGenerationResultP;

    $(document).ready(() => {
        noTokenDiv = $("#noTokenDiv");
        tokenValueTextarea = $("#tokenValueTextarea");
        tokenGenerationResultP = $('#tokenGenerationResultP');
        bind_events();
        get_token();
        test_allowance();
    });

    // Bind event listeners
    function bind_events() {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(document).on("click", "#tokenValueTextarea", function() {
            tokenValueTextarea.select();
            document.execCommand("copy");
            tokenGenerationResultP.html("Copied!");
        })
    }

    // Get token
    function get_token() {
        $.ajax({
            url: "/profile/token?random=" + Math.random(),
            error: function (xhr) {
                if (xhr.status === 410) {
                    // No valid token
                    noTokenDiv.css("display", "flex");
                } else {
                    alert("An error occurred when retrieving your token.");
                }
            },
            success: function (response) {
                populate_token_info(response.expiry, response.token);
            }
        });
    }

    // Get allowance
    function test_allowance() {
        $.ajax({
            url: "/profile/test_allowance",
            error: function (xhr) {
                if (xhr.status === 429) {
                    populate_allowance_info(xhr.getResponseHeader('X-Allowance-Remaining'), xhr.getResponseHeader('X-Allowance-Reset'));
                } else {
                    alert("An error occurred when retrieving your allowance.");
                }
            },
            success: function (response, status, xhr) {
                populate_allowance_info(xhr.getResponseHeader('X-Allowance-Remaining'), xhr.getResponseHeader('X-Allowance-Reset'));
            }
        });
    }

    // Generate a new token
    function generate_token() {
        $.ajax({
            url: "/profile/token/generate",
            error: function () {
                alert("An error occurred when generating your token.");
            },
            success: function (response) {
                populate_token_info(response.expiry, response.token);
                tokenGenerationResultP.html("Please save your token now. You will not be able to see it again.");
                tokenValueTextarea.removeAttr('disabled').attr('rows', 3);

            }
        });
    }

    // Populate token expiry and value
    function populate_token_info(expiry, token) {
        noTokenDiv.css("display", "none");
        $("#tokenExpiryInput").val(expiry);
        tokenValueTextarea.val(token);
        $("#currentTokenDiv").css("display", "inherit");
    }

    // Populate allowance info
    function populate_allowance_info(remaining, reset) {
        $("#allowanceRemainingInput").val(`${remaining} (reset at ${(new Date(reset * 1000)).toLocaleString()} ${Intl.DateTimeFormat().resolvedOptions().timeZone} time)`);
    }
</script>
{% endblock %}