{% extends "base.html" %}

{% block styles %}
<link href="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css" integrity="sha512-D1liES3uvDpPrgk7vXR/hR/sukGn7EtDWEyvpdLsyalQYq6v6YUsTUJmku7B4rcuQ21rf0UTksw2i/2Pdjbd3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.1/css/buttons.dataTables.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="fw-normal">Admin area</h2>
    <p class="fs-5 text-muted">...</p>
</div>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-4">
        <h6>Datasets</h6>
        <table class="table table-sm table-borderless">
            <thead><tr><td>Total</td><td>Public</td><td>Private</td></tr></thead>
            <tbody><tr id="overallDatasetTr"></tr></tbody>
        </table>
    </div>
    <div class="col-7">
        <h6>Users</h6>
        <table class="table table-sm table-borderless">
            <thead><tr><td>All</td><td>With a valid token</td><td>Used token in the past 10 mins</td></tr></thead>
            <tbody><tr id="overallUserTr"></tr></tbody>
        </table>
    </div>
    <div class="col-1">
        <h6>Orgs</h6>
        <table class="table table-sm table-borderless">
            <thead><tr><td>Total</td></tr></thead>
            <tbody><tr id="overallOrgTr"></tr></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="userCompositionModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User composition</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <p>By method of last sign-in (source):</p>
                    <table class="table table-sm table-borderless">
                        <thead><tr><td>Source</td><td>Count</td></tr></thead>
                        <tbody id="overallUserModalBySourceTbody"></tbody>
                    </table>
                </div>
                <div>
                    <p>By group - inferred from domain name of email address, or Microsoft organisational profile (if any):</p>
                    <table class="table table-sm table-borderless">
                        <thead><tr><td>Group</td><td>Count</td></tr></thead>
                        <tbody id="overallUserModalByTierTbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row p-1">
    <div class="col d-flex justify-content-center">
        <div class="dropdown">
            Show report of
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" id="timespanButton">All (since May 2024)</button>
            <ul class="dropdown-menu" id="timespanDropdown">
                <li><a class="dropdown-item timespan-dropdown-item" href="#" data-year="*" data-month="*">All (since May 2024)</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row p-1">
    <div class="col">
        <ul class="nav nav-pills nav-fill p-2" id="reportNav">
            <li class="nav-item"><a class="nav-link" href="#mvdDiv" data-report-name="mvd">Batches and Datasets</a></li>
            <li class="nav-item"><a class="nav-link" href="#mauDiv" data-report-name="mau">Locations and Users</a></li>
        </ul>
        <div class="tab-content p-2">
            <div class="tab-pane fade" id="mvdDiv">
                <p>
                    <b>All Batches</b>
                    <br>Showing all batches. Sorted by <b>&#931;(N<sub>Reqs</sub>)</b> by default.
                    <br><b>&#931;(N<sub>Reqs</sub>)</b> is the sum of requests per dataset, by batch. E.g. if the same request touched both ieu-b-1 and ieu-b-2 then the <b>&#931;</b> of ieu-b here will increase by 2 while in the second table below <b>N<sub>Reqs</sub></b> will increase by 1 respectively for both ieu-b-1 and ieu-b-2.
                </p>
                <table class="table table-sm table-striped" id="batchTable">
                    <thead><tr>
                            <th>#</th>
                            <th>Batch</th>
                            <th>Description</th>
                            <th>N<sub>Datasets</sub></th>
                            <th>N<sub>DatasetsUsed</sub></th>
                            <th>%<sub>DatasetsUsed</sub></th>
                            <th>&#931;(N<sub>Reqs</sub>)</th>
                            <th>&#931;(N<sub>Reqs</sub>)/N<sub>DatasetsUsed</sub></th>
                        </tr></thead>
                    <tbody></tbody>
                </table>
                <hr style="border-top: dashed 2px">
                <p>
                    <b>All Datasets</b>
                    <br>Showing all datasets incl. those that have never been touched in the selected time span and those private (non-"public"). Sorted by <b>N<sub>Users</sub></b> by default.
                    <br>An inexhaustive list of datasets used by tutorials or tests: ieu-a-2, ieu-a-7, ieu-a-299, ieu-a-300, ieu-a-302.
                </p>
                <table class="table table-sm table-striped" id="mvdTable">
                    <thead><tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Trait</th>
                            <th>Group</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>N<sub>Users</sub></th>
                            <th>N<sub>Reqs</sub></th>
                            <th>N<sub>Reqs</sub>/N<sub>Users</sub></th>
                        </tr></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="mauDiv">
                <p>
                    <b>Most Active Locations</b>
                    <br>Showing all locations from which at least one request was made during the selected time span. Sorted by <b>N<sub>Users</sub></b> by default.
                    <br>The IP address of each user's last request within the time span was used to determine the user's location. The <b>N<sub>Reqs</sub></b> and <b>&#931;<sub>ProcTime</sub></b> of that user were then added respectively to the location.
                </p>
                <table class="table table-sm table-striped" id="locTable">
                    <thead><tr>
                            <th>#</th>
                            <th>Location</th>
                            <th>N<sub>Users</sub></th>
                            <th>N<sub>Reqs</sub></th>
                            <th>&#931;<sub>ProcTime</sub>(h)</th>
                        </tr></thead>
                    <tbody></tbody>
                </table>
                <hr style="border-top: dashed 2px">
                <p>
                    <b>Most Active Users</b>
                    <br>Showing all users that have made at least one request during the selected time span. Sorted by <b>N<sub>Reqs</sub></b> by default.
                    <br><b>N<sub>Datasets</sub></b> is the average number of datasets presented in all responses for that user. Note that 'all responses' include those of the requests that do not visit any dataset at all by nature e.g. <code>/ld</code>.
                    <br><b>Source</b> is the method of their last sign-in. <b>Location</b> and <b>Client</b> are retrieved from their last request.
                    <br>Table may be scrolled horizontally.
                </p>
                <table class="table table-sm table-striped" id="mauTable">
                    <thead><tr>
                            <th>#</th>
                            <th>UID</th>
                            <th>Org (Inferred)</th>
                            <th>N<sub>Reqs</sub></th>
                            <th>&#931;<sub>ProcTime</sub>(h)</th>
                            <th>Avg(N<sub>Datasets</sub>)</th>
                            <th>First sign-in</th>
                            <th>Tenure(d)</th>
                            <th>Last sign-in</th>
                            <th>Source</th>
                            <th>Location</th>
                            <th>Client</th>
                        </tr></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>

<script>
    var overallDatasetTr, overallUserTr, overallOrgTr, overallUserModalBySourceTbody, overallUserModalByTierTbody, timespanDropdown, mvdTable, batchTable, mauTable, locTable;
    var focusedReport, focusedYear = "*", focusedMonth = "*";
    var jwt, gwasinfo, org;

    $(document).ready(() => {
        $.blockUI({message: '<h5 class="p-2"><div class="spinner-border spinner-border-sm" role="status"></div> Loading metadata of all datasets</h5>'});
        bind_events();
        get_token();
        overallDatasetTr = $("#overallDatasetTr");
        overallUserTr = $("#overallUserTr");
        overallOrgTr = $("#overallOrgTr");
        overallUserModalBySourceTbody = $("#overallUserModalBySourceTbody");
        overallUserModalByTierTbody = $("#overallUserModalByTierTbody");
        timespanDropdown = $("#timespanDropdown");
        populate_dropdown();
    });

    // Bind event listeners
    function bind_events() {
        $(document).on("click", ".timespan-dropdown-item", function () {
            $("#timespanButton").html($(this)[0].getInnerHTML());
            focusedYear = $(this)[0].getAttribute("data-year");
            focusedMonth = $(this)[0].getAttribute("data-month")
            load_report();
        });
        $("#reportNav a").on("click", function (e) {
            e.preventDefault();
            focusedReport = $(this)[0].getAttribute("data-report-name");
            load_report();
            $(this).tab('show');
        });
    }

    function load_report() {
        switch (focusedReport) {
            case "mvd":
                load_mvd_data(focusedYear, focusedMonth);
                break;
            case "mau":
                load_mau_data(focusedYear, focusedMonth);
                break;
            default:
        }
    }

    // Populate dropdown with month and year combinations since May 2024
    function populate_dropdown() {
        var start = new Date(2024, 4)
        for (let date = start; date < (new Date()); date.setMonth(start.getMonth() + 1)) {
            timespanDropdown.append(`<li><a class="dropdown-item timespan-dropdown-item" href="#" data-year="${date.getFullYear()}" data-month="${(date.getMonth() + 1).toString().padStart(2, '0')}">${date.toLocaleString('en-GB', {month: 'short'})} ${date.getFullYear()}</a></li>`);
        }
    }

    // Get token
    function get_token() {
        $.ajax({
            url: "/admin/token?random=" + Math.random(),
            error: function (xhr) {
                alert("You need to have a valid token to access the admin area. If you haven't, generate one on the user profile page, then go back here and refresh.");
            },
            success: function (response) {
                jwt = response.token;
                load_overall_stats();
                init_tables();
            }
        });
    }

    function load_overall_stats() {
        $.ajax({
            url: "/api/stats/overall",
            headers: {
                "Authorization": "Bearer " + jwt
            }
        }).done(function (response) {
            gwasinfo = response['gwasinfo'];
            $.each(gwasinfo, function (id, gi) {
                gwasinfo[id] = {
                    'trait': gi[0],
                    'group_name': gi[1],
                    'category': gi[2],
                    'subcategory': gi[3]
                };
            });
            user_sources = response['user_sources'];
            populate_overall_stats(response['datasets'], response['users'], response['user_sources'], response['user_tiers'], response['orgs']);
            $.unblockUI();
        });
    }

    function populate_overall_stats(datasets, users, orgs) {
        overallDatasetTr.append(`<td>${datasets['public'] + datasets['private']}</td><td>${datasets['public']}</td><td>${datasets['private']}</td>`);
        for (let source in users['by_source']) {
            overallUserModalBySourceTbody.append(`<tr><td>${source}</td><td>${users['by_source'][source]}</td></tr>`);
        }
        for (let tier in users['by_tier']) {
            overallUserModalByTierTbody.append(`<tr><td>${tier}</td><td>${users['by_tier'][tier]}</td></tr>`)
        }
        overallUserTr.append(`<td>${users['all']}
            <i class="bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#userCompositionModal"></i>
            </td><td>${users['has_valid_token']}</td><td>${users['online']}</td>`);
        overallOrgTr.append(`<td>${orgs}</td>`);
    }

    function init_tables() {
        batchTable = $("#batchTable").DataTable({
            autoWidth: false,
            searching: false,
            layout: {
                topStart: null,
                topEnd: 'paging',
                bottomStart: 'info',
                bottomEnd: {
                    buttons: [{
                        extend: 'copy',
                        className: 'btn-sm'
                    }, {
                        extend: 'csv',
                        className: 'btn-sm'
                    }]
                }
            },
            language: {
                emptyTable: "Loading...<br>(this may take up to 60 seconds)"
            },
            columns: [
                {
                    render: (data, type, row, meta) => {
                        return meta.row + 1;
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        return `<a href="${row['link']}" target="_blank">${row['id']}</a>`;
                    }
                },
                {data: "description",},
                {
                    data: "count",
                    type: 'numeric'
                },
                {
                    data: "used",
                    type: 'numeric'
                },
                {
                    type: 'numeric',
                    render: (data, type, row, meta) => {
                        return Math.floor(row['used'] * 100 / row['count']) + '%';
                    }
                },
                {
                    data: "reqs",
                    type: 'numeric'
                },
                {
                    type: 'numeric',
                    render: (data, type, row, meta) => {
                        return Math.floor(row['reqs'] / row['used']);
                    }
                }
            ]
        });
        mvdTable = $("#mvdTable").DataTable({
            autoWidth: false,
            layout: {
                topStart: 'search',
                topEnd: 'paging',
                bottomStart: 'pageLength',
                bottomEnd: {
                    buttons: [{
                        extend: 'copy',
                        className: 'btn-sm'
                    }, {
                        extend: 'csv',
                        className: 'btn-sm'
                    }]
                },
                bottom2: 'info'
            },
            language: {
                emptyTable: "Loading...<br>(this may take up to 60 seconds)"
            },
            columns: [
                {
                    render: (data, type, row, meta) => {
                        return meta.row + 1;
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        return `<a href="https://gwas.mrcieu.ac.uk/datasets/${row['id']}" target="_blank">${row['id']}</a>`;
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        return gwasinfo[row['id']]['trait'];
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        return gwasinfo[row['id']]['group_name'];
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        return gwasinfo[row['id']]['category'];
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        return gwasinfo[row['id']]['subcategory'];
                    }
                },
                {
                    data: "users",
                    type: 'numeric'
                },
                {
                    data: "reqs",
                    type: 'numeric'
                },
                {
                    type: 'numeric',
                    render: (data, type, row, meta) => {
                        return row['reqs'] > 0 ? Math.floor(row['reqs'] / row['users']) : 0;
                    }
                },
            ]
        });
        locTable = $("#locTable").DataTable({
            autoWidth: false,
            searching: false,
            layout: {
                topStart: null,
                topEnd: 'paging',
                bottomStart: 'info',
                bottomEnd: {
                    buttons: [{
                        extend: 'copy',
                        className: 'btn-sm'
                    }, {
                        extend: 'csv',
                        className: 'btn-sm'
                    }]
                }
            },
            language: {
                emptyTable: "Loading...<br>(this may take up to 120 seconds)"
            },
            columns: [
                {
                    render: (data, type, row, meta) => {
                        return meta.row + 1;
                    }
                },
                {data: "location"},
                {
                    data: "users",
                    type: 'numeric'
                },
                {
                    data: "reqs",
                    type: 'numeric'
                },
                {
                    data: "hours",
                    type: 'numeric'
                }
            ]
        });
        mauTable = $("#mauTable").DataTable({
            scrollX: true,
            layout: {
                topStart: 'search',
                topEnd: 'paging',
                bottomStart: 'pageLength',
                bottomEnd: {
                    buttons: [{
                        extend: 'copy',
                        className: 'btn-sm'
                    }, {
                        extend: 'csv',
                        className: 'btn-sm'
                    }]
                },
                bottom2: 'info'
            },
            language: {
                emptyTable: "Loading...<br>(this may take up to 120 seconds)"
            },
            columns: [
                {
                    render: (data, type, row, meta) => {
                        return meta.row + 1;
                    }
                },
                {data: "key"},
                {
                    render: (data, type, row, meta) => {
                        if (row['org_uuid'] !== null) {
                            let o = org[row['org_uuid']];
                            return o.hasOwnProperty('ms_name') ? o['ms_name'] : o['gh_name'];
                        } else {
                            return '(?)';
                        }
                    }
                },
                {
                    data: "reqs",
                    type: 'numeric'
                },
                {
                    data: "hours",
                    type: 'numeric'
                },
                {
                    data: "avg_n_datasets",
                    type: 'numeric'
                },
                {
                    render: (data, type, row, meta) => {
                        if (row['created'] !== null) {
                            return (new Date(row['created'] * 1000)).toISOString().split('T')[0];
                        } else {
                            return '(?)';
                        }
                    }
                },
                {
                    type: 'numeric',
                    render: (data, type, row, meta) => {
                        if (row['created'] !== null) {
                            return Math.floor((Date.now() / 1000 - row['created']) / 86400);
                        } else {
                            return '-1';
                        }
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        if (row['last_signin'] !== null) {
                            return (new Date(row['last_signin'] * 1000)).toISOString().split('T')[0];
                        } else {
                            return '(?)';
                        }
                    }
                },
                {data: "source"},
                {
                    render: (data, type, row, meta) => {
                        return row['location'] !== null ? row['location'] : '(?)';
                    }
                },
                {data: "client"}
            ]
        });
    }

    function load_mvd_data(year, month) {
        batchTable.clear().draw();
        mvdTable.clear().draw();
        $.ajax({
            url: "/api/stats/mvd",
            headers: {
                "Authorization": "Bearer " + jwt
            },
            data: {
                "year": year,
                "month": month
            }
        }).done(function (response) {
            populate_batch_table(response['stats_by_batch']);
            populate_mvd_table(response['mvd']);
        });
    }

    function populate_batch_table(stats_by_batch) {
        batchTable.clear();
        batchTable.rows.add(stats_by_batch).draw();
    }

    function populate_mvd_table(mvd){
        let mvd_array = Object.keys(mvd).map((id) => {
            return {
                'id': id,
                'reqs': mvd[id][0],
                'users': mvd[id][1]
            };
        });
        $.each(gwasinfo, function (id) {
            if (! mvd.hasOwnProperty(id)) {
                mvd_array.push({
                   'id': id,
                   'reqs': 0,
                   'users': 0
               });
            }
        });
        mvdTable.clear();
        mvdTable.rows.add(mvd_array).draw();
    }

    function load_mau_data(year, month) {
        locTable.clear().draw();
        mauTable.clear().draw();
        $.ajax({
            url: "/api/stats/mau",
            headers: {
                "Authorization": "Bearer " + jwt
            },
            data: {
                "year": year,
                "month": month
            }
        }).done(function (response) {
            org = response['org'];
            populate_loc_table(response['stats_by_location']);
            populate_mau_table(response['mau']);
        });
    }

    function populate_loc_table(stats_by_location) {
        locTable.clear();
        locTable.rows.add(stats_by_location).draw();
    }

    function populate_mau_table(mau) {
        mauTable.clear();
        mauTable.rows.add(mau).draw();
    }
</script>
{% endblock %}
