<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/logo/opengwas/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logo/opengwas/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/logo/opengwas/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/logo/opengwas/favicon/site.webmanifest') }}" crossorigin="use-credentials">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/logo/opengwas/favicon/safari-pinned-tab.svg') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo/opengwas/favicon/favicon.ico') }}" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ url_for('static', filename='images/logo/opengwas/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block page_title %}{% endblock %}IEU OpenGWAS project</title>

    {% block jquery %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% endblock jquery %}
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}

  </head>

  <body class="d-md-flex flex-column h-100" data-spy="scroll" data-target="#toc">
    <nav class="mx-3 navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="">
                <img src="{{ url_for('static', filename='images/logo/opengwas/text-colour.png') }}" height="60" alt="IEU OpenGWAS project" style="margin-right: 7px; border: none;">
                </a>
            </li>
          </ul>
          <ul class="navbar-nav me-right">
            <li class="nav-item">
              <a class="nav-link" href="https://gwas.mrcieu.ac.uk" rel="external">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://gwas.mrcieu.ac.uk/datasets" rel="external">datasets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://gwas.mrcieu.ac.uk/phewas" rel="external">phewas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://gwas.mrcieu.ac.uk/about" rel="external">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('/') }}">api<span class="visually-hidden">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" style="max-width: 800px">
        <main>
            {% block header %}{% endblock %}
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category if category != 'message' else 'primary' }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block main %}{% endblock %}
        </main>
    </div>

    <footer class="footer mt-auto px-2 py-2">
        {% block section_footer %}{% endblock %}
        <hr>
        <div class="container">
          <div class="row">
            <div class='logos col-6 text-end'>
            <p>
              <a class="logoimg" rel="external" href="https://www.bristol.ac.uk/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/uob40.png') }}" height="35" alt="University of Bristol logo"></a>
              <a class="logoimg" rel="external" href="https://www.bristol.ac.uk/integrative-epidemiology/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/ieu40.png') }}" height="35" alt="MRC Integrative Epidemiology Unit logo"></a>
              <a class="logoimg" rel="external" href="https://wellcome.ac.uk/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/wellcome.png') }}" height="35" alt="Wellcome logo"></a>
              <a class="logoimg" rel="external" href="https://royalsociety.org/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/royalsociety.jpg') }}" height="35" alt="The Royal Society logo"></a>
            </p>
            <p>
              <a class="logoimg" rel="external" href="https://www.gsk.com/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/gsk.png') }}" height="35" alt="gsk logo"></a>
              <a class="logoimg" rel="external" href="https://www.bristolbrc.nihr.ac.uk/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/nihr.png') }}" height="35" alt="NIHR Bristol BRC logo"></a>
              <a class="logoimg" rel="external" href="https://www.benevolent.com/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/benevolentai.png') }}" height="25" alt="BenevolentAI logo"></a>
            </p>
            <p>
              <a class="logoimg" rel="external" href="https://www.cancerresearchuk.org/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/cruk40.png') }}" height="35" alt="Cancer Research UK logo"></a>
              <a class="logoimg" rel="external" href="https://www.biogen.com/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/biogen.png') }}" height="35" alt="Biogen&trade; logo"></a>
              <a class="logoimg" rel="external" href="https://www.oracle.com/uk/cloud/" target="_blank" title="(opens in a new window)"><img src="{{ url_for('static', filename='images/logo/oci.jpg') }}" height="35" alt="Oracle&reg; Cloud Infrastructure logo"></a>
            </p>
            </div>
            <div class="col-6 text-start align-middle">
              <a href="https://gwas.mrcieu.ac.uk/terms" rel="external">Terms of use</a><br>
              <a href="https://github.com/MRCIEU/igd-data-requests/issues" rel="external">Data contributions or requests</a><br>
              <a href="mailto:g.hemani@bristol.ac.uk">Contact</a><br><br>
              <span class="text-nowrap">&copy; {{ now.year }} University of Bristol</span><br>
            </div>
        </div>
      </div>
    </footer>
    <!-- jQuery first - see block above, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    {% block bottom_scripts %}{% endblock %}
  </body>
</html>
