<!doctype html>
<head>
	<title>Bristol GWAS collection API</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
</head>
<body>

<div class="container" style="margin-top: 10px;">
	<p class="text-center">
	  	<a href="http://www.bristol.ac.uk/" target="_blank"><img src="{{ url_for('static', filename='img/uob40.png') }}" height="30" hspace="10"></a>
	  	<a href="https://www.bristol.ac.uk/integrative-epidemiology/" target="_blank"><img src="{{ url_for('static', filename='img/ieu40.png') }}" height="30" hspace="10"></a>
		<a href="https://royalsociety.org/" target="_blank"><img src="{{ url_for('static', filename='img/royalsociety.jpg') }}" height="30" hspace="10"></a>
	  	<a href="https://wellcome.ac.uk/" target="_blank"><img src="{{ url_for('static', filename='img/wellcome.png') }}" height="30" hspace="10"></a>
	  	<a href="https://www.cancerresearchuk.org/" target="_blank"><img src="{{ url_for('static', filename='img/cruk40.png') }}" height="30" hspace="10"></a>
	  	<a href="https://www.gsk.com/" target="_blank"><img src="{{ url_for('static', filename='img/gsk.png') }}" height="30" hspace="10"></a>
	  	<a href="https://www.biogen.com/" target="_blank"><img src="{{ url_for('static', filename='img/biogen.png') }}" height="30" hspace="10"></a>
	</p>

</div>
<div class="container" style="background-color: 'green';">
<div class="bs-component">
	<div class="jumbotron">
		<h1 class="display-3">Bristol GWAS collection</h1>
		<p class="lead">This is a REST API enabling rapid access to a database of complete GWAS summary datasets and various LD operations.</p>

		<hr class="my-4">

		<div class="row">
			<div class="col-lg-4">
				<div class="alert alert-dismissible alert-light">
					<p><span class="badge badge-warning">{{ status['Neo4j status'] }}</span> &bull; Neo4j status<br/>
					<p><span class="badge badge-warning">{{ status['ElasticSearch status'] }}</span> &bull; ElasticSearch status<br/>
					<p><span class="badge badge-warning">{{ status['LD reference panel'] }}</span> &bull; LD reference panel<br/>
					<p><span class="badge badge-warning">{{ status['PLINK executable'] }}</span> &bull; PLINK executable</p>
				</div>
			</div>
			<div class="col-lg-8">
				<p class="lead"><span class="badge badge-info">{{ "{:,}".format(elastic_counts) }}</span> genetic associations across<br/>
				<span class="badge badge-info">{{ "{:,}".format(neo4j_counts) }}</span> complete GWAS summary datasets.
				</p>
				<p>API Version: <span class="badge badge-warning">{{ status['API version'] }}</span></p>
				<p class="lead">
		  			<a class="btn btn-primary btn-lg" href="/docs/" role="button">Documentation</a>
				</p>
				<p>Also accessible through the <a href="https://github.com/MRCIEU/TwoSampleMR/">TwoSampleMR</a>  R package.</p>
			</div>
		</div>

</div>
</div>

<p class="lead">
		<a class="btn btn-primary btn-lg" href="mailto:mr-base@bristol.ac.uk" role="button">Contact us</a> to contribute data, provide feedback or seek assistance
</p>

<hr class="my-4">

<h3>Linked services</h3>

<ul>
	<li><a href="http://www.mrbase.org/">MR-Base</a></li>
	<li><a href="http://ldsc.broadinstitute.org/ldhub/">LD Hub</a></li>
	<li><a href="https://github.com/MRCIEU/TwoSampleMR/">R/TwoSampleMR</a></li>
	<li><a href="http://eve.mrbase.org/">MR-EVE</a></li>
	<li><a href="http://www.epigraphdb.org/">EpigraphDB</a></li>
</ul>

<hr class="my-4">


<h3>Citation</h3>
<p>If you use this resource please cite:</p>
<p>Gibran Hemani, Jie Zheng, Benjamin Elsworth, Kaitlin H Wade, Valeriia Haberland, Denis Baird, Charles Laurin, Stephen Burgess, Jack Bowden, Ryan Langdon, Vanessa Y Tan, James Yarmolinsky, Hashem A Shihab, Nicholas J Timpson, David M Evans, Caroline Relton, Richard M Martin, George Davey Smith, Tom R Gaunt, Philip C Haycock<br/><b>The MR-Base platform supports systematic causal inference across the human phenome.</b><br/><i>eLife 2018. doi: <a href="https://doi.org/10.7554/eLife.34408">https://doi.org/10.7554/eLife.34408</a></i></p>
<p>along with any publications that gave rise to the data that you queried</p>



<hr class="my-4">


<p class="text-center">
	<a href="https://www.elastic.co" target="_blank"><img src="{{ url_for('static', filename='img/elastic.png') }}" height="40" hspace="20"></a>
  	<a href="https://www.docker.com" target="_blank"><img src="{{ url_for('static', filename='img/dockers.png') }}" height="40" hspace="20"></a>
  	<a href="https://www.r-project.org" target="_blank"><img src="{{ url_for('static', filename='img/r.png') }}" height="40" hspace="20"></a>
  	<a href="www.flaskapi.org" target="_blank"><img src="{{ url_for('static', filename='img/flask.png') }}" height="40" hspace="20"></a>
  	<a href="https://neo4j.com/" target="_blank"><img src="{{ url_for('static', filename='img/neo4j.png') }}" height="40" hspace="20"></a>



</div>
</div>



<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>