{% extends "base.html" %}

{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="fw-normal">OpenGWAS API</h2>
    <p class="fs-5 text-muted">...</p>
</div>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col">
        <h4>Tutorial</h4>
        <ul>
            <li>Overview</li>
            <li>API status</li>
            <li>Authentication</li>
            <li>Allowance and cost</li>
            <li>Related tools</li>
            <li><a href="{{ root_url + '/api/' }}" target="_blank">Read more &rarr;</a></li>
        </ul>
    </div>
    <div class="col">
        <h4>Account</h4>
        {% if current_user.is_authenticated %}
            <p>
                You are now signed in as:<br>{{ current_user.uid }}
            </p>
            <p>
                <a href="{{ url_for('profile.index.index') }}" class="btn btn-outline-primary">Your profile and token &rarr;</a>
            </p>
        {% else %}
            <p>
                <a id="signinWithMSA">
                    <img id="signinWithMSImg" src="{{ url_for('static', filename='images/microsoft-signin.svg') }}" alt="Sign in with Microsoft">
                </a>
                <ul>
                    <li>Recommended</li>
                    <li>Accepts your school, work or personal account</li>
                </ul>
            </p>
            <hr>
            <p>
                <a id="signinWithGHA" class="btn btn-outline-dark" style="background-color: #fff; color: #212529">
                    <img src="{{ url_for('static', filename='images/logo/github.svg') }}" height="24px">  Sign in with GitHub
                </a>
                <ul>
                    <li>Accepts any email address verified by GitHub</li>
                </ul>
            </p>
            <hr>
            <p>
                <a data-bs-toggle="modal" data-bs-target="#sendEmailModal" style="cursor: pointer;">Alternatively, <u>sign in using email</u></a>
                <ul>
                    <li>Accepts academic email address <i>only</i></li>
                </ul>
            </p>
            <hr>
            <p style="font-size: 12px">By signing in, you agree to the <a href="https://gwas.mrcieu.ac.uk/terms" rel="external">Terms of use</a>.</p>
        {% endif %}
    </div>
</div>
<div class="modal fade" id="ghSignupModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ghSignupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Choose your email address</h1>
            </div>
            <div class="modal-body">
                <p>Below are the email addresses verified by GitHub (click <a href="https://github.com/settings/emails">here</a> to manage them). Please choose the one you would like to use for signing in to OpenGWAS and provide your names.</p>
                <div class="mb-3" id="ghEmailsDivGroup"></div>
                <div class="mb-3 row">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="ghFirstNameInput" placeholder="Firstname">
                            <label for="firstNameInput">First name</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="ghLastNameInput" placeholder="Lastname">
                            <label for="lastNameInput">Last name</label>
                        </div>
                    </div>
                </div>
                <p class="text-success" id="ghResultP"></p>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div><a class="text-danger" href="{{ url_for('profile.auth.cancel_signin_via_github') }}" style="text-decoration: none;">Cancel</a></div>
                <div><button type="button" class="btn btn-primary" id="ghSignupBtn" onclick="signup_github()">Next</button></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sendEmailModal" tabindex="-1" aria-labelledby="sendEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Get one-time sign-in link via email</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="emailInput" placeholder="name@example.com">
                    <label for="emailInput">Email</label>
                </div>
                <div class="mb-3 row" id="emailNamesDivGroup" style="display: none">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="firstNameInput" placeholder="Firstname">
                            <label for="firstNameInput">First name</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="lastNameInput" placeholder="Lastname">
                            <label for="lastNameInput">Last name</label>
                        </div>
                    </div>
                </div>
                <p class="text-success" id="emailResultP"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="emailSigninBtn" onclick="signin_email()">Next</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var signinWithMSA, signinWithGHA, ghSignupModal, ghEmailsDivGroup, ghResultP, ghSignupBtn, emailNamesDivGroup, emailResultP, emailSigninBtn;

    $(document).ready(() => {
        signinWithMSA = $("#signinWithMSA");
        signinWithGHA = $("#signinWithGHA");
        ghSignupModal = new bootstrap.Modal('#ghSignupModal', {});
        ghEmailsDivGroup = $("#ghEmailsDivGroup");
        ghResultP = $("#ghResultP");
        ghSignupBtn = $('#ghSignupBtn');
        emailNamesDivGroup = $("#emailNamesDivGroup");
        emailResultP = $("#emailResultP");
        emailSigninBtn = $("#emailSigninBtn");
        bind_events();
        {% if not current_user.is_authenticated %}
            init_providers();
        {% endif %}
    });

    // Bind event listeners
    function bind_events() {
        $(document).on("change", "#emailInput", function() {
            $("#emailNamesDivGroup").css("display", "none");
            emailResultP.attr("class", "").html("");
            emailSigninBtn.prop("disabled", false);
        })
    }

    // Get Auth URIs from providers
    function init_providers() {
        $.ajax({
            url: "/profile/auth/providers/init",
            error: function () {
                $("#signinWithMSImg").css("filter", "grayscale(100%)").css("cursor", "not-allowed");
                signinWithMSA.attr("onclick", "alert('Failed to generate link for Microsoft sign in - please refresh this page or contact us.')");
                $("#signinWithGHA").prop("disabled", "disabled");
                signinWithGHA.attr("onclick", "alert('Failed to generate link for GitHub sign in - please refresh this page or contact us.')");
            },
            success: function (response) {
                signinWithMSA.attr("href", response.microsoft);
                // If in the midway of GitHub sign in i.e. verified email addresses retrieved from GitHub and stored in sessions
                if (response.github_emails) {
                    $.each(response.github_emails, function (key, email) {
                        ghEmailsDivGroup.append(`<div class="form-check"><input class="form-check-input" type="radio" name="ghEmailInput" id="ghEmailInput_${key}" value="${email}"><label class="form-check-label" for="ghEmailInput_${key}">${email}</label></div>`);
                    })
                    ghSignupModal.show();
                } else {
                    signinWithGHA.attr("href", response.github);
                }
            }
        })
    }
    
    // Submit information for GitHub sign up
    function signup_github() {
        ghSignupBtn.prop("disabled", "disabled");
        $.ajax({
            url: "/profile/auth/github/signup",
            data: {
                "email": $("input[name='ghEmailInput']:checked").val() ?? "",
                "first_name": $("#ghFirstNameInput").val(),
                "last_name": $("#ghLastNameInput").val()
            },
            error: function (xhr) {
                ghResultP.attr("class", "text-danger").html(xhr.responseJSON.message);
                ghSignupBtn.prop("disabled", false);
            },
            success: function (response) {
                ghResultP.attr("class", "text-success").html(response.message);
                window.location.href = response.redirect;
            }
        }).done(() => {
            ghSignupBtn.prop("disabled", false);
        });
    }

    // Check email address and send link or ask for more information
    function signin_email() {
        emailSigninBtn.prop("disabled", "disabled");
        $.ajax({
            url: "/profile/auth/email/check",
            data: {
                "email": $("#emailInput").val(),
                "first_name": $("#firstNameInput").val(),
                "last_name": $("#lastNameInput").val()
            },
            error: function (xhr) {
                if (xhr.responseJSON.message.indexOf("name") >= 0) {
                    // Ask for first name and last name
                    emailNamesDivGroup.css("display", "flex");
                    emailResultP.attr("class", "text-primary").html(xhr.responseJSON.message);
                } else {
                    // Validation error
                    emailResultP.attr("class", "text-danger").html(xhr.responseJSON.message);
                }
                emailSigninBtn.prop("disabled", false);
            },
            success: function (response) {
                emailResultP.attr("class", "text-success").html(response.message);
            }
        }).done(() => {
            emailSigninBtn.prop("disabled", false);
        });
    }
</script>
{% endblock %}